body {
  font-family: 'Roboto', sans-serif;
  margin: 0 10%;
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
}

h1 {
  font-weight: 700;
  font-size: 2em;
  text-align: left;
}

ul {
  position: relative;
  right: 40px; 
}

nav li {
  display: inline-block;
  padding: 0 10px 0 0;
}

a {
  color:rebeccapurple;
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

a:hover {
  color:cadetblue;
  text-decoration: none;
}

a:active {
  color: red;
  transition: color .5s;
}

a:visited {
  color:green;
}

.container {
  border: 2px solid darkgray;
  padding: 10px;
  margin: 0px auto;
  position: relative;
  top: 100px;  
}

.color-container {
  width: 100%;
}

.color-panel {
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
}

.white {
  background-color: white;
  color: mediumblue;
  border: 1px solid;
}

.red {
  background-color: red;
  color: white;
}

.rebecca-purple {
  background-color: rebeccapurple;
  color:antiquewhite;
}

.medium-blue {
  background-color: mediumblue;
  color: white;
}

.font-panel {
  width: 45%;
  display: inline-block;
}

.font-label {
  font-size: 26px;
  text-decoration: underline;
}

.Roboto {
  font-family: 'Roboto', sans-serif;
}

.regular {
  font-style: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.bold-italic {
  font-style: italic;
  font-weight: 700;
}

.Open-Sans {
  font-family: 'Open Sans', sans-serif;
}

.Montserrat {
  font-family: 'Montserrat', sans-serif;
}

.text-panel {
  font-weight: 400;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  padding: 0 20px; 
}

.text-panel h1 {
  font-weight: 700;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  padding: 0px;
}


  


























